<!DOCTYPE html>
<html ng-app="homework">

<head>
	<title>ngHomeWork</title>
	<link rel="stylesheet" type="text/css" href="normalize.css">
	<link rel="stylesheet" type="text/css" href="styles.css">

	<script type="text/javascript" src="angular.js"></script>
	<script type="text/javascript" src="app.js"></script>
	<script src="https://npmcdn.com/angular-toastr/dist/angular-toastr.tpls.js"></script>
	<link rel="stylesheet" href="https://npmcdn.com/angular-toastr/dist/angular-toastr.css" />
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
</head>

<body ng-controller="Main">

	<xt-error  template="tpl/xt-error.html"> </xt-error>

	<p>{{currentPage}}</p>

	<form>
		<div>
			<label>Name:</label>
			<input type="text" placeholder="Name" ng-model="filter.name" />

			<label>Surname:</label>
			<input type="text" placeholder="Surname" ng-model="filter.surname" />

			<label>Email:</label>
			<input type="text" placeholder="Email" ng-model="filter.email" />

			<label>Role:</label>
			<input type="text" placeholder="Role" ng-model="filter.role" />

			<label>Lang:</label>
			<input type="text" placeholder="Lang" ng-model="filter.lang" />

			<input type="submit" value="Filter" ng-click="applyFilter()">
			<input type="button" value="Reset" ng-click="resetFilter()">
			<input type="button" value="ERROR" ng-click="resetFilterError()">
		</div>
	</form>
<br />
	<input type="button" value="Delete selected" ng-click="deleteSelectedUsers()"/>
	<input type="button" value="Add user" ng-click="addUser()"/>

	<table>
		<tr>
			<!--th>
				<a href="#" ng-click="sortField = 'id'; sortReverse = !sortReverse" >ID
					<a ng-show="sortField == 'id' && !sortReverse" class="desc"/>
					<a ng-show="sortField == 'id' && sortReverse" class="asc"/>
				</a>
			</th-->

			 <th width=20>

			 </th>

			 <th>
				 <a href="" ng-click="sortBy('name')"
				 		class="{{currentPage.sort == 'name' ? 'current':'' }} {{currentPage.order}}">Name</a>
			 </th>

			 <th>
				 <a href="" ng-click="sortBy('surname')"
				 		class="{{currentPage.sort == 'surname' ? 'current':'' }} {{currentPage.order }}">Surname</a>
			 </th>

			 <th>
				 <a href="" ng-click="sortBy('email')"
				 		class="{{currentPage.sort == 'email' ? 'current':'' }} {{currentPage.order}}">Email</a>
			 </th>

			 <th>
				 <a href="" ng-click="sortBy('role')"
				 		class="{{currentPage.sort == 'role' ? 'current':'' }} {{currentPage.order}}">Role</a>
			 </th>

			 <th>
				 <a href="" ng-click="sortBy('lang')"
				 		class="{{currentPage.sort == 'lang' ? 'current':'' }} {{currentPage.order}}">Lang</a>
			 </th>

			 <th>
				 <a href="" ng-click="sortBy('created')"
				 		class="{{currentPage.sort == 'created' ? 'current':'' }} {{currentPage.order}}">Created</a>
			 </th>

			 <th>
				 <a href="" ng-click="sortBy('updated')"
				 		class="{{currentPage.sort == 'updated' ? 'current':'' }} {{currentPage.order}}">Updated</a>
			 </th>
		</tr>

		<tr ng-repeat="user in users " class="{{user.selected ? 'selectedRow' : '' }}"> <!-- | orderBy:sortField:sortReverse -->
			<!-- td>{{user.id}}</td-->
		 <td><input type="checkbox" value="{{user.selected}}" ng-model="user.selected"/></td>
		 <td>{{user.name}}</td>
		 <td>{{user.surname}}</td>
		 <td>{{user.email}}</td>
		 <td>{{user.role | formatRole}}</td>
		 <td>{{user.lang | formatLang }}</td>
		 <td>{{user.created | date:'dd MMM yyyy HH:mm'}}</td>
		 <td>{{user.updated | date:'dd MMM yyyy HH:mm'}}</td>
		 <td><input ng-click="deleteUser(user)" type="button"value="Delete"/></td>
	 </tr>

	</table>

	<input ng-if="loadMoreEnabled" ng-click="loadMore()" type="button" style="width:100%;" value="Load more..."/>

	<xt-loader template="tpl/xt-loader.html"></xt-loader>


</body>
</html>
