body {
	padding: 20px;
}


/* Input elements */

input,
select
{
	height: 25px;
	line-height: 25px;
	font-family: inherit;
	font-size: inherit;
	vertical-align: middle;
	box-sizing: border-box;
}

input[type="text"],
select
{
	border: 1px solid #BBBBBB;
	background: #FFFFFF;
}

input[type="text"] {
	padding-left: 5px;
	padding-right: 5px;
}

input[type="submit"],
input[type="button"]
{
	padding-left: 10px;
	padding-right: 10px;
	border: none;
	background: #BBBBBB;
	cursor: pointer;
}


/* Tables */

table {
	width: 100%;
	border-collapse: collapse;
}

table th,
table td
{
	padding: 10px;
}

table th {
	text-align: left;
}

table tr:nth-child(odd) td {
	background-color: #EEEEEE;
}

.current.asc:after {
    content: "▲";
}

.current.desc:after {
    content: "▼";
}

.selectedRow{
	font-weight: bold;
}

/* Spinner */
.spinner {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* Modal bg */

.modalbg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.5);
}

/* Filters */

.filters {
	padding: 10px;
	background-color: #EEEEEE;
}

.filters input, .filters select
{
	margin-right: 25px;
}
.filters input[type="text"]
{
	width: 150px;
}


.toastError{
	float: none;
	color: white;
	background-color: #cc0000;
	font-weight: bold;
	text-align: center;;
	box-shadow: 3px 3px 11px #888888;
	padding: 5px;
	margin: 10px;
}
